# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# Virtual Environment
.venv/
venv/
env/

# ===============================
# ML / Model files (IMPORTANT)
# ===============================
*.pkl
*.joblib
*.h5
*.model

# ===============================
# Jupyter / Data
# ===============================
*.ipynb
*.csv
*.xlsx
*.json

# ===============================
# Logs & temp
# ===============================
*.log
*.tmp

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Git
# ===============================
.git/
.gitignore


# ===============================
# Build / cache
# ===============================
build/
dist/
*.egg-info/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# Secrets
# ===============================
.env